<template xmlns:v-my-validation="http://www.w3.org/1999/xhtml">
    <div>
      <h1>{{ msg }}</h1>
      <form action="">
        <label>
          <input type="text" v-model="inputname">
        </label>
        <label>
        <input type="text" v-model="inputsurname">
        </label>
        <input v-my-validation="{name: inputname, surname: inputsurname, info: table.data}" type="submit" value="ok" name="btnsubmit">
      </form>

      <p>
        {{ inputname }}
      </p>
      <p>
        {{ inputsurname }}
      </p>

      <p>
        <router-link to="/">Главная</router-link>
      </p>

    </div>
</template>

<script>

    import axios from "axios";

    export default {
      name: "Input",
      data() {
        return {
          msg: 'Ввод',
          inputname: '',
          inputsurname: '',
          table: {}
        }
      },
      mounted(){
        axios
          .get('http://localhost:3000/Table')
          .then(response => (this.table = response))
      },
      methods: {
        SubmitData: function ()
        {
          let name = this.inputname
          let surname = this.inputsurname
          axios
            .post('http://localhost:3000/UserInput', {
              name: name,
              surname: surname
            })
        }
      }
    }
</script>

<style scoped>
  a {
    color: #42b983;
  }
  h1, h2 {
    font-weight: normal;
  }
</style>
