<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <div class="container">
      <div>
        <ul>
          <li>
            <strong>ID</strong>
          </li>
          <li v-for="value in info.data">
            {{ value.id }}
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <strong>NAME</strong>
          </li>
          <li v-for="value in info.data">
            {{ value.name }}
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li>
            <strong>SURNAME</strong>
          </li>
          <li v-for="value in info.data">
            {{ value.surname }}
          </li>
        </ul>
      </div>
    </div>
    <p>
      <router-link to="/Input">Перейти к вводу</router-link>
    </p>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: 'Main',
  data () {
    return {
      msg: 'Главная',
      info: {}
    }
  },
  mounted() {
    axios
      .get('http://localhost:3000/Table')
      .then(response => (this.info = response))
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  text-align: left;
  padding: 5px 20px;
  border: 1px solid #42b983;
}
a {
  color: #42b983;
}
.container
{
  display: flex;
  justify-content: center;
  align-content: center;
}
</style>
